$color--orange: hsl(25, 97%, 53%);
$color--white: hsl(0, 0%, 100%);
$color--light_grey: hsl(217, 12%, 63%);
$color--dark_blue: hsl(213, 19%, 18%);
$color--very_dark_blue: hsl(216, 12%, 8%);

$ff-overpass: 'Overpass', sans-serif;

$fsz-p: 1.5rem;

$fw--normal: 400;
$fw--bold: 700;

// - Family: [Overpass](https://fonts.google.com/specimen/Overpass)
